/tools/ServiceBases
/tools/ServiceBases/v83CORP
/tools/ServiceBases/v83CORP_irina
/tools/ServiceBases/allurereport
/tools/ServiceBases/allurereport_html
/tools/ServiceBases/ScreenShots
/tools/ServiceBases/Bases

CORP_BSP_BTS
